.flex {
  display: flex;
  flex-wrap: wrap;
}

.frame {
  height: 240px;
  width: 240px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}

img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}