body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #000;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
  width: 200px;
}